version: "2"
services:
  postgresql:
    image: bitnamilegacy/postgresql:17
    labels:
      org.springframework.boot.service-connection: postgres
    ports:
    - 6432:5432
    environment:
      POSTGRES_DB: note
      POSTGRES_USER: note
      POSTGRES_PASSWORD: note
  zipkin:
    image: ghcr.io/openzipkin-contrib/zipkin-otel:main
    ports:
    - '9411:9411'
    environment:
      UI_ENABLED: 'true'